.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  min-width: 50vw;

  grid-template-areas:
    "title title"
    "list current";

  @media (min-width: 768px) {
    grid-template-areas:
      "title title"
      "current list";
  }
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
}

.current {
  grid-area: current;
  display: flex;
  flex-direction: column-reverse;
  gap: 100px;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.current .number {
  font-size: 140px;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-area: list;
  text-align: right;
  font-size: 60px;
}

.list li {
  margin-bottom: 10px;
}

.smaller {
  font-size: 50px;
}
